/* 共通部分 */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

li {
    list-style: none;
}


/* 共通部分end */

/* ログイン後ヘッダー */
/* header {
    position: relative;
}

.drop-login {
    position: absolute;
    right: 45px;
}

.cart-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
}

.cart-icon img {
    height: 100%;
} */

/* ログイン後ヘッダーend */

/* 商品一覧、商品詳細共通 */
.top-container {
    margin: 0 auto;
    width: 90%;
    border-bottom: rgb(116, 112, 112) solid 1px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* 商品一覧、商品詳細共通end */


/* 商品一覧画面 */
.form-container {
    padding-top: 30px;
    position: relative;
}

.search-text {
    width: 300px;
}

.search-btn {
    /* position: absolute;
    right: 350px; */
    color: #fff;
    border-color: #6c757d;
    background-color: #6c757d;
}

.product-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.product-list-top {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px 0;
}

.item-count {
    font-size: 18px;
}

.sort {
    position: absolute;
    right: 64px;
}

.product-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0 0 0 64px;
}

.product {
    width: 180px;
    height: 260px;
    margin: 0 18px 30px 0;
}

.product img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.product-body {
    text-align: left;
    padding-top: 10px;
}

.product-body p {
    margin: 0 0 8px;
    font-size: 15px;
}

.paginate-container {
    margin: 0 auto;
}

/* 商品一覧画面end */


/* 商品詳細画面 */
.detail-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 80px;
    padding-bottom: 50px;
}

.detail-left {
    width: 50%;
}

.detail-right {
    width: 50%;
}

.mainImage {
    margin: 0 auto;
    text-align: center;
}

.mainImage img {
    width: 450px;
    height: auto;
    margin: 0 auto;
}

.thumbnails {
    width: 450px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 30px auto 0;
}

.thumbnails img {
    width: 140px;
    cursor: pointer;
    transition: all .3s;
    margin: 0 10px 10px 0;
}

.thumbnails img:hover {
    opacity: 0.8;
    transition: all .3s;
}

.item-name {
    font-size: 30px;
}

.item-price {
    font-size: 25px;
}

.item-form {
    padding-top: 80px;
}

.item-quantity {
    width: 75px;
    margin-bottom: 20px;
}

.explanation {
    padding-top: 100px;
}

.explanation-title {
    font-size: 30px;
    border-bottom: 1px solid rgb(116, 112, 112);
    margin-bottom: 20px;
}

/* 商品詳細画面end */


/* ログイン、会員登録、会員編集画面共通 */
.member-container {
    padding-top: 80px;
}

.member-information {
    margin-bottom: 25px;
}

/* ログイン、会員登録、会員編集画面共通end */

/* 会員編集画面 */
.edit-btn {
    padding-top: 20px;
}

.edit-btn button {
    margin-right: 5px;
}

.edit-btn a {
    color: white;
}

/* 会員編集画面end */


/* 買い物かご画面 */
.basket-top {
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px solid rgb(116, 112, 112);
    padding-top: 50px;
}

.basket-main {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.basket-main form {
    width: 80%;
    margin: 0 auto;
}

.basket-item {
    display: flex;
    justify-content: space-between;
}

.basket-img {
    width: 170px;
    height: 200px;
}

.basket-item-name {
    font-size: 25px;
    margin: auto 0;
}

.basket-delete {
    color: rgb(240, 64, 64);
    padding: 175px 0 0;
}

.basket-total-price {
    text-align: right;
}

.basket-btn {
    padding: 30px 0 50px 0;
    text-align: center;
}

.basket-btn a {
    margin-right: 5px;
}

/* 買い物かご画面end */

/* 購入確認画面 */
.confirmation-top {
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px solid rgb(116, 112, 112);
    padding-top: 50px;
}

.confirmation-table {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.confirmation-table table {
    width: 80%;
    margin: 0 auto;
}

.confirmation-img {
    width: 170px;
    height: 200px;
}

.confirmation-item-name {
    font-size: 25px;
    margin: auto;
}

.confirmation-total-price {
    text-align: right;
}

.information-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.name,
.addres,
.email {
    margin-bottom: 30px;
}

.information {
    font-size: 20px;
}

.confirmation-btn {
    padding: 30px 0 50px 0;
    text-align: center;
}

.confirmation-btn a {
    margin-right: 5px;
}

/* 購入確認画面end */

/* 購入完了画面 */
.completed-container {
    text-align: center;
}

.thank {
    padding-top: 50px;
    font-size: 120px;
    animation: blinking 0.8s ease-in-out infinite alternate;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.complete {
    font-size: 30px;
}

.completed-btn {
    padding-top: 50px;
}

.completed-btn a {
    margin-right: 5px;
}

/* 購入完了画面end */


/* 購入履歴画面 */
.history-top {
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px solid rgb(116, 112, 112);
    padding-top: 50px;
}

.history-main {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}

/* ヘッダー */
header {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    z-index: 1;
}

header a {
    font-family: fantasy;
    font-size: 30px;
}

header a:hover {
    text-decoration: none;
    color: #000;
}

header .dropdown-menu {
    text-align: center;
}

header .dropdown .dropdown-menu .dropdown-item {
    font-size: 1rem;
}

header .dropdown .dropdown-menu .dropdown-item:active {
    color: #16181b;
    background-color: #f8f9fa;
}

header .cart-icon {
    width: 40px;
    margin: 0 0 10px 20px;
}

header .cart-icon img {
    width: 100%;
    height: 100%;
}

header .menu-area {
    display: flex;
    align-items: center;
}

/* ログイン画面 */
.login-container {
    margin: 40px auto;
}

.login-container .form-group button {
    width: 100px;
    margin-top: 20px;
}

/* 会員登録画面 */
.member_register-container {
    margin: 40px auto;
}

.member_register-container .form-group button {
    width: 100px;
    margin-top: 20px;
}

/* 会員編集画面 */
.member_edit-container {
    margin: 40px auto;
}

.member_edit-container .form-group button {
    width: 100px;
    margin: 20px 20px 0;
}

.member_edit-container .form-group button a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* バリデーションのエラーメッセージ */
.alert-danger ul {
    margin: 1rem 0;
}

.alert-danger ul li {
    padding: 0.5rem;
    list-style: disc;
}

/* 商品管理画面 */
.management-container {
    margin: 40px 0;
}

.management-container .table {
    text-align: center;
}

.management-container .table thead {
    background-color: #f8f9fa;
}

.management-container .table thead th {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    vertical-align: middle;
}

.management-container .table td {
    vertical-align: middle;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.management-container .table-content img {
    height: 60px;
}

.management-container .table-content tr {
    height: 80px;
}

.management-container .table-content tr td a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* 商品登録画面 */
.register-container {
    margin: 40px auto;
}

.register-container .form-group {
    margin-bottom: 2rem;
}

.register-container .form-group .product-file {
    height: auto;
}

.register-container .form-group textarea {
    resize: none;
}

.register-container .form-group button {
    width: 100px;
    margin-top: 20px;
}

/* 商品編集画面 */
.edit-container {
    margin: 40px auto;
}

.edit-container .form-group {
    margin-bottom: 2rem;
}

.edit-container .image-area {
    text-align: center;
}

.edit-container .image-area p {
    height: 100px;
    padding: 30px;
}

.edit-container .image-area img {
    height: 100px;
}

.edit-container .form-group .product-file {
    height: auto;
    margin-top: 1rem;
}

.edit-container .form-group textarea {
    resize: none;
}

.edit-container .form-group button {
    width: 100px;
}

/* 購入情報管理画面 */
.purchase_information-container {
    margin: 40px 0;
}

.purchase_information-container .table {
    text-align: center;
}

.purchase_information-container .table thead {
    background-color: #f8f9fa;
}

.purchase_information-container .table thead th {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    vertical-align: middle;
}

.purchase_information-container .table td {
    vertical-align: middle;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.purchase_information-container tbody tr {
    height: 80px;
}