/* バリデーションのエラーメッセージ */
.alert-danger ul {
    margin: 1rem 0;
}

/* 商品管理画面 */
.management-container {
    margin: 50px 0;
}

.management-container .table {
    text-align: center;
}

.management-container .table thead th {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    vertical-align: middle;
}

.management-container .table td {
    vertical-align: middle;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.management-container .table-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.management-container .table-content tr td a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* 商品登録画面 */
.register-container {
    margin: 50px auto;
}

.register-container .form-group .product-file {
    height: auto;
}

.register-container .form-group textarea {
    resize: none;
}


.register-container .form-group button {
    width: 100px;
}

/* 商品編集画面 */
.edit-container {
    margin: 50px auto;
}

.edit-container .image-area p {
    height: 100px;
    text-align: center;
    padding: 30px;
}

.edit-container .image-area img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.edit-container .form-group .product-file {
    height: auto;
    margin-top: 1rem;
}

.edit-container .form-group textarea {
    resize: none;
}

.edit-container .form-group button {
    width: 100px;
}